@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.woff2) format('woff2');
  src: url(../fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/OpenSans-Italic.woff2) format('woff2');
  src: url(../fonts/OpenSans-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-SemiBold.woff2) format('woff2');
  src: url(../fonts/OpenSans-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/OpenSans-Bold.woff2) format('woff2');
  src: url(../fonts/OpenSans-Bold.woff) format('woff');
}

* {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  scroll-behavior: smooth;
}

.content-container {
  max-width: 1600px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flexbox {
  align-items: center;
  justify-content: space-between;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
}

.img {
  width: 100%;
}

:root {
  --bcg-color: #000000;
  --main-text-color: #FFFFFF;
  --text-color: #333333;
}

/*header*/
.header__container-1 {
  position: relative;
  padding-top: 28px;
  padding-bottom: 28px;

  background-color: var(--bcg-color);
}

.header__burger,
.header__search {
  display: none;
}

.header__logo {
  margin-right: 20px;
}

.header__nav {
  width: 78%;
}

.header__nav-list {
  width: 61%;
}

.header__nav-list-item {
  position: relative;
  z-index: 10;
  margin-right: 10px;
}

.header__nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: var(--main-text-color);

  transition: color .3s ease-in-out;
}

.header__nav-link-name {
  position: relative;
  z-index: 5;
}

.header__nav-link:focus:not(:hover)::after {
  content: '';
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;

  transition: background-color .3s ease-in-out;
  background-color: #7943A4;
}

.header__nav-link:hover {
  color: #C283F3;
  outline: unset;
}

.header__nav-link:active {
  color: #7943A4;
}

.header__nav-link-enter {
  position: relative;

  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: var(--main-text-color);

  transition: color .3s ease-in-out;
}

.header__nav-link-enter::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: -21px;

  background-image: url(../img/enter.svg);
  background-repeat: no-repeat;
  background-position: left center;

  transition: background-image .3s ease-in-out;
}

.header__nav-link-enter-name {
  position: relative;
  z-index: 10;
}

.header__nav-link-enter:focus:not(:hover):not(:active)::after {
  content: '';
  position: absolute;
  z-index: 5;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -30px;

  background-color: #7943A4;

  transition: background-color .3s ease-in-out;
}

.header__nav-link-enter:hover {
  color: #C283F3;
}

.header__nav-link-enter:hover::before {
  left: -26px;

  background-image: url(../img/enter-hover.svg);
}

.header__nav-link-enter:active {
  color: #9D5CD0;
}

.header__nav-link-enter:active::before {
  background-image: url(../img/enter-active.svg);
}

.header__container-2 {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: 22px;
  padding-bottom: 22px;

  background-color: rgba(0, 0, 0, 0.5);
}

.header__menu-list {
  width: 64%;
}

.header__menu-item {
  position: relative;
  z-index: 1;
  margin-right: 10px;
}

.header__menu-btn {
  padding: 0;

  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: var(--main-text-color);

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header__menu-btn-name {
  position: relative;
  z-index: 1;
}

.header__menu-btn:focus:not(:active):not(:hover)::before {
  content: '';
  position: absolute;
  top: -6px;
  right: -23px;
  bottom: -6px;
  left: -8px;

  background-color: #7943A4;
}

.header__menu-btn:hover {
  color: #9D5CD0;
}

.header__menu-btn:active {
  color: #7943A4;
}

.header__menu-btn::after {
  content: '';
  position: absolute;
  top: 9px;
  right: -15px;
  width: 5px;
  height: 5px;

  border-width: 1px;
  border-style: solid;
  border-color: transparent var(--main-text-color) var(--main-text-color) transparent;

  transform: rotate(45deg);
  transition-property: transform, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header__menu-btn:hover::after {
  border-color: transparent #9D5CD0 #9D5CD0 transparent;
}

.header__menu-btn:active::after {
  border-color: transparent #7943A4 #7943A4 transparent;
}

.is-active.header__menu-btn {
  color: #7943A4;

  transition: color .3s ease-in-out;
}

.is-active.header__menu-btn:focus {
  color: var(--main-text-color);
}

.is-active.header__menu-btn:hover {
  color: #9D5CD0;
}

.is-active.header__menu-btn::after {
  top: 13px;

  border-color: transparent #7943A4 #7943A4 transparent;

  transform: rotate(225deg);
  transition-property: transform, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.is-active.header__menu-btn:focus:not(:hover)::after {
  border-color: transparent var(--main-text-color) var(--main-text-color) transparent;
}

.is-active.header__menu-btn:hover::after {
  border-color: transparent #9D5CD0 #9D5CD0 transparent;
}

.header__dropdown {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 40px;
  padding-right: 20px;
  position: absolute;
  top: 193%;

  visibility: hidden;
  opacity: 0;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.header__dropdown.header__dropdown-active {
  visibility: visible;
  opacity: 1;
}

.header__dropdown-simplebar {
  max-height: 220px;
  padding-right: 20px;
}

.header__dropdown-simplebar:focus {
  outline: unset;
}

.header__dropdown-simplebar .simplebar-track.simplebar-vertical {
  background-color: var(--bcg-color);
  width: 2px;
}

.header__dropdown-simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: var(--main-text-color);
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__dropdown-link {
  position: relative;
  min-height: 40px;
  width: 100%;
  padding-left: 15px;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text-color);

  background-repeat: no-repeat;

  cursor: pointer;
}

.header__dropdown-link::after,
.header__dropdown-link::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__dropdown-link::after {
  box-shadow: 0 0 0 2px #9D5CD0 inset;
}

.header__dropdown-link::before {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.header__dropdown-link:focus:not(:active)::after,
.header__dropdown-link:hover:not(:active)::after,
.header__dropdown-link:active::before {
  opacity: 1;
}

.header__dropdown-link-realism-1 {
  background-image: url(../img/option-tintoretto.png);
}

.header__dropdown-link-realism-2 {
  background-image: url(../img/option-friedrich.png);
}

.header__dropdown-link-realism-3 {
  background-image: url(../img/option-leonardo.png);
}

.header__dropdown-link-realism-4 {
  background-image: url(../img/option-verrocchio.png);
}

.header__dropdown-link-impressionism-1 {
  background-image: url(../img/option-mone.png);
}

.header__dropdown-link-impressionism-2 {
  background-image: url(../img/option-sisley.png);
}

.header__dropdown-link-impressionism-3 {
  background-image: url(../img/option-manet.png);
}

.header__dropdown-link-impressionism-4 {
  background-image: url(../img/option-renoir.png);
}

.header__dropdown-link-postimpressionism-1 {
  background-image: url(../img/option-van_gogh.png);
}

.header__dropdown-link-postimpressionism-2 {
  background-image: url(../img/option-sezanne.png);
}

.header__dropdown-link-postimpressionism-3 {
  background-image: url(../img/option-gauguin.png);
}

.header__dropdown-link-postimpressionism-4 {
  background-image: url(../img/option-seurat.png);
}

.header__dropdown-link-avangard-1 {
  background-image: url(../img/option-kandinsky.png);
}

.header__dropdown-link-avangard-2 {
  background-image: url(../img/option-marinetti.png);
}

.header__dropdown-link-avangard-3 {
  background-image: url(../img/option-malevich.png);
}

.header__dropdown-link-avangard-4 {
  background-image: url(../img/option-picaso.png);
}

.header__dropdown-link-futurism-1 {
  background-image: url(../img/option-carra.png);
}

.header__dropdown-link-futurism-2 {
  background-image: url(../img/option-pratella.png);
}

.header__dropdown-link-futurism-3 {
  background-image: url(../img/option-severinni.png);
}

.header__dropdown-link-futurism-4 {
  background-image: url(../img/option-balla.png);
}

.header__form-search {
  flex-direction: row-reverse;
  width: 16%;
}

.header__form-input {
  padding: 0;
  padding-bottom: 2px;
  width: 86%;

  color: var(--main-text-color);

  background-color: inherit;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);

  transition: border-bottom .3s ease-in-out;
}

.header__form-input::placeholder {
  word-spacing: 2px;
  color: rgba(255, 255, 255, 0.85);

  transition: color .3s ease-in-out;
}

.header__form-input,
.header__form-input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}

.header__form-input:hover {
  border-bottom: 1px solid #C283F3;
}

.header__form-input:focus {
  border-bottom: 1px solid #7943A4;
  outline: unset;
}

.header__form-input:focus::placeholder {
  color: transparent;
}

.header__form-btn {
  padding: 0;
  width: 24px;
  height: 22px;

  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 2px 2px;
  border: none;

  cursor: pointer;
}

.is-unvisible   {
  opacity: 0;
}

/*hero*/
.hero__swiper-container {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.hero__swiper-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.hero__swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-swiper-slide-1 {
  background-image: url(../img/hero-slide1.jpg);
}

.hero-swiper-slide-2 {
  background-image: url(../img/hero-slide2.jpg);
}

.hero-swiper-slide-3 {
  background-image: url(../img/hero-slide3.jpg);
}

.hero__swiper-content {
  position: relative;
  z-index: 5;
  padding-top: 135px;
  padding-bottom: 146px;
  max-width: 556px;
}

.hero__swiper-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--main-text-color);
}

.hero__swiper-text {
  margin-bottom: 115px;

  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--main-text-color);
}

.hero__swiper-link {
  position: relative;
  padding: 24px 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--main-text-color);

  background: #9D5CD0;
  border-radius: 100px;

  transition: border .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__swiper-link:focus:not(:active):after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;

  border: 2px solid #C283F3;
  border-radius: 100px;
}

.hero__swiper-link:focus {
  outline: unset;
}

.hero__swiper-link:hover,
.hero__swiper-link:active {
  box-shadow: 0 0 0 3px #D1A9F0 inset;
}

.hero__swiper-link:active {
  background-color: #7943A4;
}

/*about-us*/
.about-us {
  padding-top: 80px;
  padding-bottom: 71px;
}

.about-us__title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

.about-us__text {
  width: 67%;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

/*gallery*/
.gallery {
  background-image: url(../img/gallery-bcg.jpg);
  background-repeat: no-repeat;
}

.gallery__container {
  padding-top: 80px;
  padding-bottom: 75px;
}

.gallery__filter-container {
  margin-right: 48px;
  flex-direction: column;
}

.gallery__title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--main-text-color);
}

.gallery__filter {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
}

/*choices*/
.choices {
  width: 400px;
  margin-bottom: auto;

  transition: background-color .3s ease-in-out;
}

.choices__inner {
  padding: 0;
  min-height: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);

  background-color: transparent;
  border: 1px solid var(--main-text-color);
  border-radius: 6px;

  transition: background-color .3s ease-in-out;
}

.choices__inner:hover,
.choices:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__inner {
  border-radius: 6px;
}

.is-open .choices__inner,
.is-focused .choices-inner {
  border-color: var(--main-text-color);
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
  padding-left: 10px;
}

.choices__list--single {
  padding: 2px 16px 2px 4px;
}

.choices__placeholder {
  opacity: 1;
}

.choices .choices__list .choices__list .choices__item--disabled {
  text-indent: -9999px;
  height: 0;
  width: 0;
  padding: 0;
}

.choices[data-type*=select-one]::after {
  width: 5px;
  height: 5px;
  right: 19px;

  border-color: transparent var(--main-text-color) var(--main-text-color) transparent;
  border-width: 1px;
  border-style: solid;

  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: 0;

  border-color: transparent var(--main-text-color) var(--main-text-color) transparent;
  border-width: 1px;
  border-style: solid;

  transform: rotate(225deg);
}

.choices__list--dropdown,
.choices__list[aria-expanded],
.choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  background-color: #000000;
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 4px 10px 4px 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: var(--main-text-color);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 6px 6px;
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  visibility: hidden;
}

.choices .is-selected {
  display: none;
}

.gallery__checkbox-container {
  flex-direction: column;
}

.gallery__checkbox-label {
  position: relative;
  padding-left: 25px;
  width: fit-content;

  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: var(--main-text-color);

  cursor: pointer;
}

.gallery__checkbox {
  position: absolute;

  opacity: 0;
}

.gallery__checkbox+span {
  position: absolute;
  top: 10px;
  left: 0;
  width: 9px;
  height: 9px;

  text-align: center;
  border: 1px solid var(--main-text-color);

  cursor: pointer;
}

.gallery__checkbox+span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(../img/gallery-check.svg);
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0;

  transition: opacity .3s ease-in-out;
}

.gallery__checkbox:checked+span:before {
  opacity: 1;
}

.gallery__checkbox:focus+span,
.gallery__checkbox:hover+span {
  border: 1px solid #C283F3;

  transition: border .3s ease-in-out;
}

.gallery__checkbox:focus+span+span {
  color: #C283F3;

  transition: color .3s ease-in-out;
}

.gallery__checkbox:checked+span {
  border: 1px solid #C283F3;

  transition: border .3s ease-in-out;
}

.gallery__checkbox:checked+span+span {
  color: #C283F3;

  transition: color .3s ease-in-out;
}

.gallery__slide-tablet {
  display: none;
}

.gallery__swiper-container {
  position: relative;
  padding-top: 23px;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.gallery__swiper-navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 5px;
}

.gallery__swiper-pagination {
  margin-right: 17px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
}

.gallery__swiper-btn {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: #666666;
  border-radius: 50%;
  border: none;

  cursor: pointer;

  transition-property: background-color, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.gallery__swiper-btn-prev {
  margin-right: 20px;
}

.gallery__swiper-btn::after {
  content: '';
  position: absolute;
  top: calc(50% - 3.5px);
  width: 7px;
  height: 7px;

  transform: rotate(45deg);
}

.gallery__swiper-btn-prev::after {
  left: calc(50% - 3px);

  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery__swiper-btn-next::after {
  left: calc(50% - 6px);

  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.gallery__swiper-btn:focus:not(:hover) {
  box-shadow: 0 0 0 2px var(--bcg-color);
  outline: unset;
}

.gallery__swiper-btn:hover {
  background-color: #9D5CD0;
}

.gallery__swiper-btn:active {
  background-color: #7943A4;
}

.gallery__swiper-btn.swiper-button-disabled {
  background-color: #ECECEC;

  cursor: auto;
}

.swiper-button-disabled.gallery__swiper-btn-prev::after {
  border-left: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.swiper-button-disabled.gallery__swiper-btn-next::after {
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
}

.gallery__slide-tablet {
  display: none;
}

.gallery__slide {
  position: relative;
  padding: 0;

  border: 0;
  background-color: unset;

  cursor: pointer;
}

.gallery__slide:focus {
  outline: unset;
}

.gallery__slide::before,
.gallery__slide::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gallery__slide::before {
  background: url(../img/gallery-hover.png) no-repeat center;
  box-shadow: 0 0 0 3px #7943A4 inset;
}

.gallery__slide::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/gallery-hover.png) no-repeat center;
}

.gallery__slide:focus:not(:active)::before,
.gallery__slide:hover::before,
.gallery__slide:active::after {
  opacity: 1;
}

.gallery__slide:focus:not(:active)::before {
  background: none;
}

.gallery__slide:hover::before {
  box-shadow: none;
}

/*catalog*/
.catalog {
  padding-top: 81px;
  padding-bottom: 73px;
}

.catalog__title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

.catalog__desc {
  width: 68%;
  margin-bottom: 38px;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.catalog__container {
  align-items: flex-start;
}

.catalog__artist-container {
  display: none;
  width: 47%;
}

.catalog__artist-container__active {
  display: block;
}

.catalog__artist-img {
  margin-bottom: 28px;
}

.catalog__title-artist {
  margin-bottom: 8px;
  margin-top: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}

.catalog__artist-bday {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.catalog__artist-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.catalog__title-artist-x {
  margin-bottom: 15px;
}

.catalog__artist-desc-x {
  margin-bottom: 15px;
}

.catalog__accordion-container {
  width: 50%;
}

.ui-widget {
  font-family: inherit;
}

.ui-icon {
  display: none;
}

.ui-accordion .ui-accordion-header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 116px;
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  word-spacing: -1px;
  color: var(--text-color);

  border: none;
  background: none;

  cursor: pointer;

  transition: color .3s ease-in-out;
}

.catalog__accordion-title {
  width: fit-content;

  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.ui-accordion-header.ui-state-hover {
  color: #9D5CD0;
}

.ui-accordion-header.ui-state-focus .catalog__accordion-title {
  color: var(--main-text-color);
  background-color: #9D5CD0;
  border: none;
}

.ui-state-focus {
  outline: unset;
}

.ui-accordion-header.ui-state-active {
  color: #7943A4;
}

.ui-accordion-header::after {
  content: '';
  right: 0;

  width: 48px;
  height: 48px;

  background-image: url(../img/accordion-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ECECEC;
  border-radius: 50%;
  border: 2px solid transparent;

  transition-property: transform, background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.ui-accordion-header.ui-state-active::after {
  background-color: #D1A9F0;
  border-color: #9D5CD0;

  transform: rotate(180deg);
}

.ui-accordion-header.ui-state-hover::after,
.ui-accordion-header.ui-state-focus::after {
  background-color: #D1A9F0;
  border-color: transparent;
}

.ui-accordion-header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  border-bottom: 1px solid #CACACA;

  transition: border-bottom .3s ease-in-out;
}

.ui-accordion-header-1::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  border-top: 1px solid #CACACA;

  transition: border-top .3s ease-in-out;
}

.ui-accordion-header.ui-state-hover::before,
.ui-accordion-header.ui-state-hover .ui-accordion-header-1::before {
  border-bottom: 1px solid #9D5CD0;
  border-top: 1px solid #9D5CD0;
}

.ui-accordion-header.ui-state-focus::before,
.ui-accordion-header.ui-state-focus .ui-accordion-header-1::before {
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  outline: unset;
}

.ui-accordion-header.ui-state-active::before,
.ui-accordion-header.ui-state-active .ui-accordion-header-1::before {
  border-bottom: 1px solid #7943A4;
  border-top: 1px solid #7943A4;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-top: 26px;
  padding-bottom: 55px;

  border: none;
  border-bottom: 1px solid #CACACA;
}

.catalog__accordion-list {
  column-count: 3;
}

.catalog__accordion-content-item {
  cursor: pointer;

  transition-property: border-bottom, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.catalog__accordion-content-item:not(:last-child) {
  margin-right: 60px;
}

.catalog__accordion-content-item {
  position: relative;
  width: fit-content;
}

.ui-widget button {
  padding: 0;

  font-family: inherit;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.catalog__accordion-content-item-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);

  cursor: pointer;
}

.catalog__accordion-content-item-name:focus:not(:active)::after,
.catalog__accordion-content-item-name:hover:not(:focus):not(:active)::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.catalog__accordion-content-item-name:focus-visible:not(:hover):not(:active) {
  background-color: #9D5CD0;
  outline: unset;
}

.catalog__accordion-content-item-name:hover::after {
  border-bottom: 1px solid #9D5CD0;
}

.ui-accordion .ui-accordion-content.catalog__accordion-content {
  align-items: center;
}

.catalog__accordion-content-container-img {
  width: 275px;
  height: 189px;
  margin-right: 24px;

  border: 2px solid #999999;
}

.catalog__accordion-content-img {
  width: 251px;
  height: 165px;
  margin: 12px;

  background-color: #999999;
}

.catalog__accordion-content-title {
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
}

.catalog__accordion-content-text {
  margin-bottom: 5px;
  max-width: 55%;

  line-height: 22px;
}

.ui-widget-content .catalog__accordion-content-link,
.catalog__accordion-content-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
}

/*events*/
.events {
  position: relative;
  padding-bottom: 61px;
}

.events__title {
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

.events__content-container {
  position: relative;
}

.events__swiper-container {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;

  box-sizing: content-box;
}

.events__swiper-slide {
  flex-shrink: 0;

  border: 1px solid #CACACA;
}

.events__swiper-img {
  margin-bottom: 10px;
}

.events__swiper-slide-content {
  max-width: 85%;
  min-height: 387px;

  padding-bottom: 42px;
  padding-left: 50px;
  flex-direction: column;
}

.events__event,
.events__event-date {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__event-date {
  margin-bottom: 13px;
}

.events__heading {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}

.events__swiper-slide-text {
  margin-bottom: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.events__swiper-slide-link {
  width: fit-content;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #9D5CD0;

  border-bottom: 1px solid #9D5CD0;
}

.events__swiper-btn {
  width: 50px;
  height: 50px;
  padding: 0;

  color: var(--bcg-color);

  background-color: #ECECEC;
  border: none;
  border-radius: 100%;

  transition-property: box-shadow, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.events__swiper-btn-next {
  top: 426px;
  right: -24px;
}

.events__swiper-btn-prev {
  top: 426px;
  left: -24px;
}

.events__swiper-btn-next.swiper-button-next:after,
.events__swiper-btn-prev.swiper-button-prev:after {
  font-size: 16px;
}

.events__swiper-btn.swiper-button-disabled {
  visibility: hidden;
}

.events__swiper-btn:focus:not(:hover) {
  box-shadow: 0 0 0 2px #9D5CD0;
}

.events__swiper-btn:hover {
  background-color: #D1A9F0;
}

.events__swiper-btn:active {
  box-shadow: 0 0 0 2px #9D5CD0;
  background-color: #D1A9F0;
}

.events__swiper-pagination {
  visibility: hidden;
}

/*projects*/
.projects {
  padding-bottom: 77px;
}

.projects__container {
  position: relative;
}

.projects__title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--text-color);
}

.projects__tooltip-area {
  margin-bottom: 21px;
  width: 67%;

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.projects__tooltip {
  position: relative;
  display: inline;
}

.projects__tooltip-icon {
  display: inline-block;
  width: 16px;
  height: 16px;

  cursor: pointer;
}

.projects__tooltip-icon svg {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.projects__tooltip-icon svg,
.projects__tooltip-icon svg path {
  transition-property: fill, stroke;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.projects__tooltip-message {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 15px);
  padding: 7px 11px;
  max-width: 264px;

  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  word-wrap: break-word;
  color: #FFFFFF;
  width: max-content;
  background-color: #9D5CD0;

  transform: translateX(-50%);

  opacity: 0;

  transition: opacity .3s;
}

.projects__tooltip-message::after {
  content: '';
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translateX(-50%);
  border: 6px solid transparent;
  border-top: 10px solid #9D5CD0;

}

.projects__tooltip-icon:hover+.projects__tooltip-message,
.projects__tooltip-icon:focus+.projects__tooltip-message {
  opacity: 1;
}

.projects__tooltip-icon:focus {
  outline: unset;
}

.projects__tooltip-icon svg:hover,
.projects__tooltip-icon svg:focus {
  fill: #D1A9F0;
}

.projects__tooltip-icon:active svg {
  fill: #9D5CD0;
}

.projects__tooltip-icon:active svg path {
  stroke: none;
}

.projects__tooltip-icon:active svg path:nth-child(2) {
  fill: var(--main-text-color);
}

.projects__heading {
  margin-bottom: 22px;

  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--bcg-color);
}

.projects__swiper {
  max-width: 1450px;
  margin: 0 auto;
}

.projects__swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.projects__swiper-link {
  width: 450px;
  height: 150px;
  align-items: center;
  justify-content: center;

  border: 1px solid #CACACA;
  cursor: pointer;

  transition: border .3s ease-in-out;
}

.projects__swiper-link:focus:not(:hover),
.projects__swiper-link:active {
  border: 1px solid #9D5CD0;
  outline: unset;
}

.projects__swiper-link-img {
  filter: grayscale(1);
  opacity: .4;

  transition-property: filter, opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.projects__swiper-link:hover .projects__swiper-link-img,
.projects__swiper-link:active .projects__swiper-link-img {
  filter: grayscale(0);
  opacity: 1;
}

.projects__swiper-btn {
  top: 88%;
  width: 30px;
  height: 30px;

  color: var(--bcg-color);
  border-radius: 100%;
  border: unset;

  transition: box-shadow .3s ease-in-out, background-color .3s ease-in;
}

.projects__swiper-btn::after {
  font-size: 12px;
}

.projects__swiper-btn-prev {
  left: 0;
}

.projects__swiper-btn-next {
  right: 0;
}

.projects__swiper-btn-next.swiper-button-disabled,
.projects__swiper-btn-prev.swiper-button-disabled {
  color: #CACACA;
  background-color: #ECECEC;
  opacity: 1;
}

.projects__swiper-btn:focus:not(:hover) {
  box-shadow: 0 0 0 2px #9D5CD0;
  outline: unset;
}

.projects__swiper-btn:hover {
  background-color: #D1A9F0;
}

.projects__swiper-btn:active {
  box-shadow: 0 0 0 2px #9D5CD0;
  background-color: #D1A9F0;
}

/*contacts*/
.contacts__contacts {
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.contacts__container {
  padding-top: 38px;
  padding-bottom: 36px;
}

.contacts__place,
.contacts__adress {
  line-height: 32px;
  color: var(--text-color);
}

.contacts__place {
  font-weight: 600;
  font-size: 24px;
}

.contacts__adress {
  font-weight: 400;
  font-size: 16px;
}

.contacts__form {
  width: 57%;
}

.contacts__input {
  min-height: 50px;
  min-width: 270px;
  padding: 0;
  padding-left: 24px;

  border: 1px solid var(--text-color);
  border-radius: 100px;

  transition: background-color .3s ease-in-out;
}

.contacts__input:hover,
.contacts__input:focus {
  background-color: #ECECEC;
  outline: unset;
}

.contacts__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.contacts__btn-mobile {
  display: none;
}

.contacts__btn {
  position: relative;
  padding: 11px 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  background-color: inherit;
  border: 2px solid #9D5CD0;
  border-radius: 100px;

  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.contacts__btn:focus:not(:active):not(:hover)::after {
  position: absolute;
  content: '';
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 100px;
  border: 2px solid #C283F3;
  transition: border .3s ease-in-out;
}

.contacts__btn:hover,
.contacts__btn:active {
  background-color: #9D5CD0;
  color: var(--main-text-color);

}

.contacts__btn:active {
  box-shadow: 0 0 0 2px #D1A9F0 inset;
  border: 1px solid #D1A9F0;
}

.contacts__contacts-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
}

.contacts__label {
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  left: 24px;
  bottom: 48px;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D11616 !important;
}

.js-validate-error-field {
  border: 1px solid #D11616 !important;
  color: #D11616 !important;
}

.contacts__contacts-name {
  margin-bottom: 6px;
}

.contacts__apps-container {
  justify-content: flex-start;
}

.contacts__apps {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.contacts__apps svg {
  transition-property: opacity, box-shadow, border-radius;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.conatacts__whatsapp {
  margin-right: 15px;
}

.contacts__apps:hover svg,
.contacts__apps:focus svg {
  opacity: .5;
}

.contacts__apps:active svg {
  box-shadow: 0 0 0 1px #9D5CD0 inset;
  border-radius: 100px;
}

.contacts__map {
  height: 700px;
  width: 100%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-searchbox,
.ymaps-2-1-79-zoom__scale,
.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-controls__control {
  inset: 250px auto auto 98% !important;
}

.ymaps-2-1-79-zoom {
  height: auto !important;
}

.ymaps-2-1-79-controls__toolbar_left {
  position: absolute;
  top: 341px;
  left: 98%;

}

.ymaps-2-1-79-controls__control_toolbar {
  margin-left: 0 !important;
}

/*footer*/
.footer {
  padding-top: 46px;
  padding-bottom: 46px;
  background-color: var(--bcg-color);
}

.fooer__list {
  width: 7%;
}

.footer__link path {
  transition: fill .3s ease-in-out;
}

.footer__link:focus path,
.footer__link:hover path {
  fill: var(--main-text-color);
  outline: unset;
}

.footer__link:active path {
  fill: #9D5CD0;
}